@CHARSET "ISO-8859-1";


  
@font-face {font-family: 'Bleeker-Regular';src: url('webfonts/33EB38_0_0.eot');src: url('webfonts/33EB38_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33EB38_0_0.woff2') format('woff2'),url('webfonts/33EB38_0_0.woff') format('woff'),url('webfonts/33EB38_0_0.ttf') format('truetype');}

/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}

body {
	background-color:#99CAF8;
	background-image:url(img/bg_dots.png);
	background-repeat:repeat;
}

a {
	text-decoration: none;
}

h1 {
	font-family:'Bleeker-Regular', sans-serif;
	font-size:5em;
	font-weight:normal;
	padding-top:30px;
	margin-left:30px;

}
p {
	font-family:'Bleeker-Regular', sans-serif;
	font-size:1.5em;
}

h2 {
	font-family:'Bleeker-Regular',sans-serif;
	font-size:2em;
}

#header {
	position:relative;
	height:300px;
	overflow:hidden;
	text-align:center;
	vertical-align:bottom;
	margin:0px;
}

#headContainer img {
	vertical-align: bottom;
	height:90%;
	width:auto;
	text-align:center;
}

#headContainer {
	width:60%;
	height:100%;
	overflow:visible;
	position:relative;
	text-align:center;
	margin:0px auto 0px auto;
}

.headImg {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	margin:auto auto 0;
}


.mainContainer {
	width:70%;
	height:100%;
	background-color:white;
	margin:0px auto;
	position:relative;
	border-radius:50px;
	overflow:visible;
}

.textContainer{ 
	width:60%;
	margin-left:100px;
	overflow: hidden;
	z-index:-2;
	float:left;
	margin-top:-0px;
	
}

.sitting {
	margin-right:0px;
	width:40%;
	height:auto;
	display:inline-block;
	float:right;
	margin-top:-300px;
}

.clearfix::after {
	text-align: center;
    content: "";
    clear: both;
    display: table;
}

.divider {

	width:100%;
	margin:0px auto;
	text-align:center;

}

.divider img {
	max-width:500px;
	height:auto;
	width:50%;
}

.featureText {
	float:left;
	width:45%;
	margin-left:10%;
}
.featureImg {
	float:right;
	margin-right:10%;
}

.featureImg img {
	max-width:300px;
	height:auto;
	border-radius:25px;
	border:10px solid #fcfab4;
}

.aboutImg {
	float:left;
}
.aboutImg img {
	max-height:500px;
	width:50%;
	margin-left:100px;
}

.aboutTxt {
	float:left;
	width:50%;
	text-align:right;
}

.social {
	max-width:50px;
	max-height:50px;
	margin-top:50px;
	margin-right:20px;
}

.footer {
	width:100%;
	height:50px;
}

.footer p {
	font-size:1em;
	text-align:center;
	margin-top:50px;
}